In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
data=pd.read_csv('./PokharaDaily.csv')
data

,Date,Precipitation,Max Temperature,Min Temperature,Humidity,Pokhara Airport(m/s)
0,01/01/2015 3:00,0.0,17.6,9.5,71.950,NaN
1,02/01/2015 3:00,15.4,17.1,12.0,96.500,NaN
2,03/01/2015 3:00,21.4,17.0,13.3,93.900,NaN
3,04/01/2015 3:00,15.9,22.6,10.6,84.600,NaN
4,05/01/2015 3:00,0.0,20.5,9.4,73.700,NaN
...,...,...,...,...,...,...
2863,03/11/2022 3:00,NaN,26.9,13.2,73.454,1.656497
2864,04/11/2022 3:00,NaN,27.5,14.5,74.672,1.749096
2865,05/11/2022 3:00,NaN,28.4,13.0,73.170,1.440432
2866,06/11/2022 3:00,NaN,27.2,12.9,75.856,1.851984
2867,07/11/2022 3:00,NaN,NaN,13.8,91.165,0.771660

In [3]:
data.describe()

,Precipitation,Max Temperature,Min Temperature,Humidity,Pokhara Airport(m/s)
count,2769.000000,2867.000000,2868.000000,2868.000000,1042.000000
mean,10.750556,27.520823,16.494979,75.244973,1.675741
std,25.861436,4.378206,5.618028,10.550223,0.423469
min,0.000000,10.900000,3.200000,30.600000,0.000000
25%,0.000000,24.200000,11.700000,69.948500,1.440432
50%,0.000000,28.500000,17.500000,76.401000,1.646208
75%,8.600000,31.200000,21.700000,82.074500,1.954872
max,280.000000,35.000000,25.700000,98.736000,3.806856

In [4]:
maxthreshold= data['Max Temperature'].quantile(.9999)
maxthreshold

35.0

In [5]:
'''checking the data if there presents more that
threshold value'''
data[data['Max Temperature']>maxthreshold]

Empty DataFrame
Columns: [Date, Precipitation, Max Temperature, Min Temperature, Humidity, Pokhara Airport(m/s)]
Index: []

In [6]:
#checking the minimum threshold of maximum tempertaure buy analyzing the data pattern to set the percentile value
minthreshold= data['Max Temperature'].quantile(.0001)
minthreshold

11.01464

In [7]:
#checking the data in the dataframe with minimum threshold
data[data['Max Temperature']<minthreshold]

,Date,Precipitation,Max Temperature,Min Temperature,Humidity,Pokhara Airport(m/s)
2554,29/12/2021 3:00,6.5,10.9,10.0,98.378,1.234656

In [8]:
type(data['Max Temperature'])

pandas.core.series.Series

# smoothing max temperature of different stations

In [11]:
Max=pd.read_csv('./MaxTempr.csv')
Max

                  Time  Pokhara Airport  Lumle     Begnas
0     01/01/2015 12:00             17.6   15.0  17.500000
1     01/02/2015 12:00             17.1   12.5  17.500000
2     01/03/2015 12:00             17.0   13.5  17.500000
3     01/04/2015 12:00             22.6   14.5  22.500000
4     01/05/2015 12:00             20.5   13.5  20.600000
...                ...              ...    ...        ...
2862  11/02/2022 12:00             26.8   19.5  28.466667
2863  11/03/2022 12:00             26.9   19.0  28.266667
2864  11/04/2022 12:00             27.5   19.5  27.450000
2865  11/05/2022 12:00             28.4   21.0  27.666667
2866  11/06/2022 12:00             27.2   20.0  27.600000

[2867 rows x 4 columns]

In [23]:
Max['Time']=pd.to_datetime(Max['Time'])
maximum=Max.set_index('Time')

In [38]:
Maxthreshold= maximum.quantile(.9999)
Maxthreshold

Pokhara Airport    35.0000
Lumle              28.0000
Begnas             37.8843
Name: 0.9999, dtype: float64

In [56]:
'''checking the data if there presents more that
threshold value'''
maximum[maximum['Begnas']>Maxthreshold['Begnas']]

                     Pokhara Airport  Lumle  Begnas
Time
2015-04-12 12:00:00             27.9   20.0    38.4

In [51]:
Minthreshold= Max.quantile(.0012)
Minthreshold

Pokhara Airport    13.13176
Lumle               8.50000
Begnas             12.71900
Name: 0.0012, dtype: float64

In [52]:
maximum[maximum['Lumle']<Minthreshold['Lumle']]

                     Pokhara Airport  Lumle  Begnas
Time
2020-01-03 12:00:00             11.3    7.5    11.0
2022-02-04 12:00:00             13.0    6.5    17.6